# Spaces



<% @spaces_facade.spaces.each do |space| %>
  <h2><%= space.name %></h2>
  <p>Color: <%= space.color %></p>
  <p>Hidden: <%= space.hidden %></p>
  <p>Statuses: <%= space.statuses %></p>
  <p>Members: <%= space.members %></p>
<% end %>