<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tag Manager</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

  <%# Begin Global Tags %>
  <div class="card mt-4">
    <div class="card-header">
      <h5 class="card-title">Global Tags</h5>
    </div>
    <div class="card-body">
      <ul>
        <% @global_tags.each do |tag| %>
          <div class="btn-group">
            <%= render partial: "partials/tag_button", locals: { tag: tag } %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>

  <%# Columns %>
  <div class="container text-center p-5 mb-5">
    <div class="row row-cols-2">

      <%# Cards %>
      <% @spaces.each do |space| %>
        <div class="col">
          <div class="card mb-4">
            <div class="card-header" style="background-color: <%= space.color %>;">
              <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title text-white"><%= space.name %></h3>
                <small class="text-muted text-right"><%= space.hidden %></small>
              </div>
            </div>

            <%# Members %>
            <div class="card-body">
              <h6 class="card-subtitle text-muted">
                Members:
                <% space.members.map(&:username).uniq.each do |name| %>
                  <%= name %>
                <% end %>
              </h6> 
            </div>

            <%# Statuses %>
            <div class="card-footer">
              <h6 class="card-subtitle mb-2 text-muted">Statuses</h6>
              <ul>
                <% space.statuses.each do |status| %>
                  <button type="button" class="btn btn-light" style="background-color: <%= status.color %>;">
                    <%= status.name %>
                  </button>
                <% end %>
              </ul>
            </div>

            <%# Tags %>
            <div class="card-footer">
              <h6 class="card-subtitle mb-2 text-muted">Tags</h6>
              <ul>
                <% space.non_global_tags.each do |tag| %>
                  <div class="btn-group">
                    <%= render partial: "partials/tag_button", locals: { tag: tag } %>
                  </div>
                <% end %>
              </ul>
            </div>
            <%# End Tags %>
          </div>
        </div>
      <% end %>
      <%# End Spaces Cards %>
    </div>
  </div>
  
  <%# Bootstrap Bundle with Popper %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>